<div class="card" style="width: 20rem;">
    {% if instance.image %}
    <a href="{{ instance.get_absolute_url }}"><img class="card-img-top" src="{{ instance.image.url }}" alt="{{ instance.title }} logo"></a>
    {% endif %}
    <div class="card-body">
        <h4 class="card-title">{{ instance.title }}</h4>
        <p class="card-text">{{ instance.processor|linebreaks|truncatewords:14 }}</p>
        <a href="{{ instance.get_absolute_url }}" class="btn btn-primary">View</a>
        {% include 'products/snippets/update-cart.html' with product=instance cart=cart %}
    </div>
</div>

<!-- <div class="product-item">
    <div class="pi-pic">
        <img src="/static/img/img2.jpg" alt="">
        <div class="pi-links">
            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
        </div>
    </div>
    <div class="pi-text">
        <h6>$35,00</h6>
        <p>Dell - Inspiron 2-in-1 </p>
    </div>
</div> -->