<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Explore Deals!!</title>
	<link rel="icon" href="{% static 'img/Fevicon.png" type="image/png">
  <link rel="stylesheet" href="{% static 'vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'vendors/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="{% static 'vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="{% static 'vendors/nice-select/nice-select.css">
  <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/rec.css">

  <link rel="stylesheet" href="{% static 'css/style1.css">
</head>
<body>


  <main class="site-main">

    <!--================ Hero banner start =================-->
    <section class="hero-banner">
      <div class="container">
        <div class="row no-gutters align-items-center pt-60px ">
          <div class="col-4 d-none d-sm-block">
            <div class="hero-banner__img">
              <img class="img-fluid" src="{% static 'img/product/in-dhs-gaming-uber-home-page-ena-570x283.jpg" alt="">
            </div>
          </div>
          <div class="col-sm-8 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
            <div class="hero-banner__content">
              <h4>DELL ENTERPRISES</h4>
              <h1>The power to do more</h1>
              <p>Dell launches exclusive offers in all price ranges. Check out the best in store just for you!!</p>
              <a class="button button-hero" href="#">Browse Now</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ Hero banner start =================-->

    <!--================ Hero Carousel start =================-->
    <!-- static part starts-no backend integration reqd -->
    <section class="section-margin mt-0">
      <div class="owl-carousel owl-theme hero-carousel">
        <div class="hero-carousel__slide">
          <img src="{% static 'img/product/Accessories3.jpg" alt="" class="img-fluid sphg">
          <a href="#" class="hero-carousel__slideOverlay">
            <h3>Inspiron 13 5000</h3>
            <p>Shop now</p>
          </a>
        </div>
        <div class="hero-carousel__slide">
          <img src="{% static 'img/product/Accessories2.jpg" alt="" class="img-fluid sphg">
          <a href="#" class="hero-carousel__slideOverlay">
            <h3>Exclusive offers from Dell</h3>
            <p>Shop now</p>
          </a>
        </div>
        <div class="hero-carousel__slide">
          <img src="{% static 'img/product/Accessories.jpg" alt="" class="img-fluid sphg">
          <a href="#" class="hero-carousel__slideOverlay">
            <h3>Electronics and accessories</h3>
            <p>Shop now</p>
          </a>
        </div>
      </div>
    </section>
        <!-- static part ends-no backend integration reqd -->

    <!--================ Hero Carousel end =================-->

    <!-- ================ trending product section start ================= -->
    <section class="section-margin calc-60px">

      <div class="container-fluid">
    <hr class="style-seven">
    <br>
    <h2>Best deals at <span class="section-intro__style">best prices!</span></h2>
    <div class="price row pr">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'img/product/gaming.jpg" class="card-img-top img-responsive" alt="...">
        <div class="card-body">
          <h5 class="card-title">Gaming laptops</h5>
          <p class="card-text"><!-- Some quick example text to build on the card title and make up the bulk of the card's content -->.</p>
          <a href="#" class="btn btn-primary">Add to cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
        </div>
      </div>
      </div>
    </div>
    <!-- <br> -->
    <hr class="style-seven">
    <br>
    <!-- <hr> -->
    <h2>Recommended for your <span class="section-intro__style">lifestyle</span></h2>

    <div class="role row pr">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'img/product/gaming.jpg" class="card-img-top img-responsive" alt="...">
        <div class="card-body">
          <h5 class="card-title">Gaming laptops</h5>
          <p class="card-text"><!-- Some quick example text to build on the card title and make up the bulk of the card's content -->.</p>
          <a href="#" class="btn btn-primary">Add to cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
        </div>
      </div>
      </div>
    </div>

    <br>
    <hr class="style-seven">
    <br>

    <h2>Collections for <span class="section-intro__style">you!</span></h2>
    <div class="personalized row pr">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'img/product/gaming.jpg" class="card-img-top img-responsive" alt="...">
        <div class="card-body">
          <h5 class="card-title">Gaming laptops</h5>
          <p class="card-text"><!-- Some quick example text to build on the card title and make up the bulk of the card's content -->.</p>
          <a href="#" class="btn btn-primary">Add to cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    </div>
    <br>
    <hr class="style-seven">
    <br>

  </div>

















    </section>
    <!-- ================ trending product section end ================= -->


    <!-- ================ offer section start ================= -->
    <section class="offer" id="parallax-1" data-anchor-target="#parallax-1" data-300-top="background-position: 20px 30px" data-top-bottom="background-position: 0 20px">
      <div class="container">
        <div class="row">
          <div class="col-xl-5">
            <div class="offer__content text-center">
              <h3>Up To 50% Off</h3>
              <h4>Winter Sale</h4>
              <p>Him she'd let them sixth saw light</p>
              <a class="button button--active mt-3 mt-xl-4" href="#">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ================ offer section end ================= -->

    <!-- ================ Best Selling item  carousel ================= -->


    <!-- ================ Subscribe section start ================= -->
    <section class="subscribe-position">
      <div class="container">
        <div class="subscribe text-center">
          <h3 class="subscribe__title">Get Updates From Us</h3>
          <p>Subsribe to get email notifications from us!</p>
          <div id="mc_embed_signup">
            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe-form form-inline mt-5 pt-1">
              <div class="form-group ml-sm-auto">
                <input class="form-control mb-1" type="email" name="EMAIL" placeholder="Enter your email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '" >
                <div class="info"></div>
              </div>
              <button class="button button-subscribe mr-auto mb-1" type="submit">Subscribe</button>
              <div style="position: absolute; left: -5000px;">
                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
              </div>

            </form>
          </div>

        </div>
      </div>
    </section>
    <!-- ================ Subscribe section end ================= -->



  </main>



	<!--================ End footer Area  =================-->



  <script src="{% static 'vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="{% static 'vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="{% static 'vendors/skrollr.min.js"></script>
  <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="{% static 'vendors/nice-select/jquery.nice-select.min.js"></script>
  <script src="{% static 'vendors/jquery.ajaxchimp.min.js"></script>
  <script src="{% static 'vendors/mail-script.js"></script>
  <script src="{% static 'js/main1.js"></script>
</body>
</html>